<div class="container col-md-6">
    <div class="card text-center">
        <div class="card-body">
            <h3>Get In Touch</h3>
            <p class="card-text text-center">Individual memorabilia pieces are not up for auction or sale. For enquiries on exhibitions or to discuss taking over ownership of the entire collection please get in contact </p>
            <a href="/contact" class="btn btn-outline-dark">Contact</a>
        </body>
    </div>
</div>