<div class="container col-md-6">
    <div class="card text-center">
        <div class="card-body">
            <h3>Get In Touch</h3>
            <p class="card-text text-center">Get in contact if you would like to find out more about this stunning collection.</p>
            <a href="/contact" class="btn btn-outline-dark">Contact</a>
        </body>
    </div>
</div>