<div class="card">
    <img src="{{ img }}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{ title }}</h5>
        <p class="card-text">{{ excerpt }}</p>
        <a href="{{ URL }}" class="btn btn-outline-dark">View</a>
    </div>
</div>