footer {
    padding: 25px 0;
    background-color: $charcoal;
    .d-flex {
        background: $charcoal !important;
        color: $colorPrimary;
        p {
            color: $colorPrimary;
            font-family: $fontSerif;
            font-size: 1.5em;
            margin-bottom: 0rem;
        }
        a {
            color: $colorPrimary;  
        }
        a:hover {
            color: $colorSecondary !important;
        }
        i {
            padding: 0 5px;
            font-size: 1.25em;
            line-height: 1.5em;
        }
    }
}