// Nav Items
.nav-item {
    a {
        font-family: $fontSerif;
        font-size: 1.5em;
        color: $colorPrimary !important;
    }
    a:hover {
        color: $colorSecondary !important;
    }
}

// Homepage Banner
.display-4 {
    color: $colorPrimary !important;
    font-family: $fontSerif;
}
.lead {
    color: $colorPrimary;
}

// Footer
footer {
    .copyright {
        font-family: $fontSerif !important;
        font-size: 1.2em;
        color: $colorPrimary;
    }
}

// Cards

.card-body {
    h5 {
        font-family: $fontSerif;
        font-size: 1.5em;
        color: $colorPrimary;
    }
    a {
        font-family: $fontSansSerif;
        color: $charcoal;
    }
    a:hover {
        color: $colorPrimary;
    }
}

h3, h2 {
    font-family: $fontSerif;
    color: $colorPrimary;
    font-size: 3em;
    margin: 0 auto;
    padding-top: 25px;
}

p {
    font-family: $fontSansSerif;
    color: $charcoal;
}

// Contact Form

form {
    .form-control {
        font-family: $fontSansSerif;
        color: $charcoal;
        letter-spacing: 2px;
    }
    .form-control::placeholder {
        color: $colorSecondary;
    }
    .alert-danger {
        font-family: $fontSansSerif;
        letter-spacing: 2px;
        color: orangered;
        border: none;
        background: none;
    }
}

.btn-outline-dark {
    font-family: $fontSansSerif;
}

.btn-outline-dark:hover {
    color: $colorPrimary;
}

// Featured Blog 
.carousel-caption {
    h5 {
      font-family: $fontSerif;
      font-size: 1.5em;
      color: $colorPrimary;
  }
}
